<div id="header-outer">
  <div id="header">
    <a href="index.html" id="logo" title="Home">
      <%= @api_name %> API Documentation
    </a>
    <ul id="title-nav" class="sf-js-enabled">
      <!--
      <li class="leaf"><a href="/status" title="">API Health</a></li>
      <li class="leaf"><a href="/blog" title="">Blog</a></li>
      <li class="leaf"><a href="/discussions" title="">Discussions</a></li>
      -->
    </ul>
  </div>
</div>
<br />