<table class="views-table cols-2">
  <caption>
    <a title="<%= @resource.titleize %>" id="109" name="109"></a>
    <strong><%= @resource.titleize %></strong>
    <p>A description of the resource goes here.</p>
  </caption>
  <thead>
    <tr>
      <th class="views-field views-field-title">Resource</th>
      <th class="views-field views-field-body">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd views-row-first">
      <td class="views-field views-field-title">
        <a href="/docs/api/1.1/get/statuses/mentions_timeline">GET statuses/mentions_timeline</a>
      </td>
      <td class="views-field views-field-body">Documentation for the route goes here.</td>
    </tr>
  </tbody>
</table>