<% if object.has_tag?(:response) %>
  <div class="examples">
    <p class="tag_title">Example Response:</p>
    <% object.tags(:response).each do |tag| %>
      <%= htmlify_line(tag.name) %>
      <pre class="example code source_code"><%= html_syntax_highlight(tag.text, :plain) %></pre>
    <% end %>
  </div>
<% end %>
